/* RESET SETING */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

/* =====COMON===== */

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}

/* =====FOOTER===== */

.footer {
  background: #75d281;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 48px;
  margin-bottom: 48px;
}

.footer-logo {
  transition: background-color 250ms, border-radius 250ms, fill 250ms;
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #030a06;
  border-radius: 5px;
}

.footer-logo:hover .footer-logo-icon {
  fill: #fff;
}

.footer-logo:focus .footer-logo-icon {
  fill: #fff;
}

.footer-logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}

.footer-nav-link {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;

  transition: opacity 250ms;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  opacity: 0.5;
}

.footer-list-social {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer-icon-link {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  fill: #030a06;

  transition: opacity 250ms;
}

.footer-icon-link:focus .footer-icon,
.footer-icon-link:hover .footer-icon {
  opacity: 0.5;
}

.footer-wrap-adress {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
  align-items: center;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-address-link {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;

  transition: opacity 250ms;
}

.footer-address-link:focus,
.footer-address-link:hover {
  opacity: 0.5;
}

.text-footer {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
