@media screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .footer-wrap {
    row-gap: 32px;
    margin-bottom: 24px;
  }
  .footer-nav-list {
    flex-direction: row;
    column-gap: 32px;
  }

  .footer-logo-icon {
    width: 160px;
    height: 60px;
  }

  .footer-icon-link {
    width: 40px;
    height: 40px;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }

  .footer-wrap-adress {
    row-gap: 16px;
    padding-top: 16px;
    padding-bottom: 0;
  }

  .footer-address-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-wrap {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  .footer-logo-icon {
    width: 159px;
  }

  .footer-icon-link {
    width: 24px;
    height: 24px;
  }

  .footer-icon {
    width: 24px;
    height: 24px;
  }
}
